.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5vw;
}

.left-column,
.right-column {
  padding: 1rem;
}

/* Desktop */
@media (min-width: 768px) {
  .left-column {
    width: 33%;
  }
  .right-column {
    width: 67%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .left-column,
  .right-column {
    width: 100%;
  }
}